<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b><%=__('templates.default.layout.footer.version')%></b> 1.0.0
    </div>
    <strong><%=__('templates.default.layout.footer.copyright')%> &copy; 2017 <a href="#">ION</a></strong>
</footer>