
<form class="search-form">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Искать...">
        <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>